extends layout-error 

block content 
    .container
        h1= error.status
        p= message
            br
            |  You're currently in Brazil.
        small
            | Visit the 
        a(href='/' target='/') home page
        .circle.small
        .circle.big
        .mordekaiser