extends errorlayout 

block content 
    .container
        h1= error.status
        p= message
            br
            |  You're currently in Brazil.
        small
            | Visit the 
        a(href='https://florin-pop.com' target='/') home page
        .circle.small
        .circle.medium
        .circle.big