doctype html
html
  head
    meta(charset='UTF-8')
    title Onyx Fate | Brazil
    link(rel='shortcut icon' href='/images/logo.ico')
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    block content