doctype html
html
    head
        meta(charset='UTF-8')
        title Onyx Fate | Login
        link(rel='shortcut icon' href='/images/logo.ico')
        script(src='/javascripts/jQuery-dist.js' type='text/javascript')
        script(src='/javascripts/preloader.js' type='text/javascript')
        link(rel='stylesheet' href='/stylesheets/preloader.css')
        link(rel='stylesheet' href='/stylesheets/loginstyle.css')
        link(rel='stylesheet' href='/stylesheets/notify.css')
        
    body
        block content
