doctype html
html
    head
        meta(charset='UTF-8')
        title Onyx Fate | Login
        link(rel='stylesheet' href='/stylesheets/loginstyle.css')
        script(type='text/javascript' src='/javascripts/sqllogin.js')
    body
        block content
