extends layoutlogin

block content
    .preloader
       .loader

    .login-box
        ul.links
            li.signup-active
                a.goToSignInAnim
                    | Sign Up
            li.signin-inactive
                a.goToSignUpAnim
                    | Sign In

        form.form-signup(action='/signupform' method='POST' id='signupform' style='display: block')
            .user-box
                .emailSignUp
                    input#collectEMAIL(type='text' name='userEmail', required='')
                    label E-mail
            .user-box
                .loginSignUp
                    input#collectLOGIN(type='text' name='userLogin', required='')
                    label Username
            .user-box
                .passSignUp
                    input#collectPASS(type='password' name='userPassword', required='')
                    label Password
            .user-box
                .confirmSignUp
                    input#collectCONFIRMATION(type='password' name='userConfirmations', required='')
                    label Confirm Password
            .user-box
                .nameSignUp
                    input#collectNAME(type='text' name='userName', required='')
                    label Name
            .user-box
                .lastnameSignUp
                    input#collectLASTNAME(type='text' name='userLastname', required='')
                    label Lastname
            a(href='javascript:;' onclick="anchorSubmit('signupform')").submitUpForm
                span
                span
                span
                span
                | Submit 

        form.form-signin(action='/signinform' method='POST' id='signinform' style='display: none')
            .user-box
                .emailSignIn
                    input#collectEMAILIN(type='text' name='userEmailLogin', required='')
                    label E-mail
            .user-box
                .passSignIn
                    input#collectPASSIN(type='password' name='userPasswordLogin', required='')
                    label Password
            a(href='javascript:;' onclick="anchorSubmit('signinform')").submitInForm
                span
                span
                span
                span
                | Submit 
    script(src='/javascripts/notify.js' type='text/javascript')
    script(type='text/javascript' src='/javascripts/loginstyle.js')