extends layoutlogin

block content
    .login-box
        h2 Sign Up
        form(action='/signupinfo' method='POST' id='signupform')
            .user-box
                input#collectEMAIL(type='UserEmail' name='' required='')
                label E-mail
            .user-box
                input#collectLOGIN(type='UserLogin' name='' required='')
                label Username
            .user-box
                input#collectPASS(type='UserPassword' name='' required='')
                label Password
            .user-box
                input#collectNAME(type='UserName' name='' required='')
                label Name
            .user-box
                input#collectLASTNAME(type='UserLastName' name='' required='')
                label Lastname
            a(href='javascript:;' onmousedown="collectData('signupform')" onclick="anchorSubmit('signupform')")
                span
                span
                span
                span
                | Submit 
