extends layoutlogin

block content
    .preloader
       .loader

    .login-box
        ul.links
            li.signup-active
                a.btn
                    | Sign Up
            li.signin-inactive
                a.btn
                    | Sign In
        form.form-signup(action='/singinform' method='POST' id='signupform' style='display: block')
            .user-box
                input#collectEMAIL(type='text' name='UserEmail', required='')
                label E-mail
            .user-box
                input#collectLOGIN(type='text' name='UserLogin', required='')
                label Username
            .user-box
                input#collectPASS(type='password' name='UserPassword', required='')
                label Password
            .user-box
                input#collectCONFIRMATION(type='password' name='UserConfirmations', required='')
                label Confirm Password
            .user-box
                input#collectNAME(type='text' name='UserName', required='')
                label Name
            .user-box
                input#collectLASTNAME(type='text' name='UserLastname', required='')
                label Lastname
            a(href='javascript:;' onclick="anchorSubmit('signupform')")
                span
                span
                span
                span
                | Submit 

        form.form-signin(action='/singinform' method='POST' id='signinform' style='display: none')
            .user-box
                input#collectEMAIL(type='text' name='UserEmailLogin', required='')
                label E-mail
            .user-box
                input#collectPASS(type='password' name='UserPasswordLogin', required='')
                label Password
            a(href='javascript:;' onclick="anchorSubmit('signipform')")
                span
                span
                span
                span
                | Submit 
    script(src='/javascripts/notify.js' type='text/javascript')
    script(type='text/javascript' src='/javascripts/loginstyle.js')