extends layoutlogin

block content
    .preloader
       .loader

    .login-box
        ul.links
            li.signup-active
                a.btn
                    | Sign Up
            li.signin-inactive
                a.btn
                    | Sign In
        form.form-signup(action='/signupform' method='POST' id='signupform' style='display: block')
            .user-box
                input#collectEMAIL(type='text' name='userEmail', required='')
                label E-mail
            .user-box
                input#collectLOGIN(type='text' name='userLogin', required='')
                label Username
            .user-box
                input#collectPASS(type='password' name='userPassword', required='')
                label Password
            .user-box
                input#collectCONFIRMATION(type='password' name='userConfirmations', required='')
                label Confirm Password
            .user-box
                input#collectNAME(type='text' name='userName', required='')
                label Name
            .user-box
                input#collectLASTNAME(type='text' name='userLastname', required='')
                label Lastname
            a(href='javascript:;' onclick="anchorSubmit('signupform')")
                span
                span
                span
                span
                | Submit 

        form.form-signin(action='/signinform' method='POST' id='signinform' style='display: none')
            .user-box
                input#collectEMAIL(type='text' name='userEmailLogin', required='')
                label E-mail
            .user-box
                input#collectPASS(type='password' name='userPasswordLogin', required='')
                label Password
            a(href='javascript:;' onclick="anchorSubmit('signipform')")
                span
                span
                span
                span
                | Submit 
    script(src='/javascripts/notify.js' type='text/javascript')
    script(type='text/javascript' src='/javascripts/loginstyle.js')