extends layoutlogin

block content
    .login-box
        h2 Sign Up
        form
            .user-box
                input(type='UserLogin' name='' required='')
                label Username
            .user-box
                input(type='UserPassword' name='' required='')
                label Password
            .user-box
                input(type='UserName' name='' required='')
                label Name
            .user-box
                input(type='UserLastName' name='' required='')
                label Lastname
            a(href='#')
                span
                span
                span
                span
                | Submit
