extends layout-login

block content
    .preloader
       .loader

    .login-box
        ul.links
            li.signup-active
                a.goToSignInAnim
                    | Sign Up
            li.signin-inactive
                a.goToSignUpAnim
                    | Sign In

        form.form-signup(action='/uploadform' method='POST' id='uploadform' style='display: block')
            .user-box
                .modelName
                    input(type='text' name='model_name', required='')
                    label Model Name
            .user-box
                .modelZip
                    input(type="file" id="model_file" name="model_file" accept=".zip")
                    label Please provide model link

            a.submitUpForm(href='javascript:;' onclick="anchorSubmit('uploadform')")
                span
                span
                span
                span
                | Submit 

    script(src='/javascripts/notify.js' type='text/javascript')
    script(type='text/javascript' src='/javascripts/loginstyle.js')